.card {
  margin: 40px;
}

.content {
  padding: 2rem;
}

.card-container {
  display: flex;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.performance-section {
  background-color: #002855;
  color: white;
  padding: 24px;
  flex: 1;
}

.interest-section {
  background-color: white;
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.amount {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.interest-label {
  font-size: 14px;
  color: #333;
}

.highlight {
  color: #0066cc;
}

.interest-rate {
  font-size: 32px;
  font-weight: bold;
  color: #002855;
  margin-top: 8px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 1rem;
}

.input-container {
  width: 100%;
  max-width: 85%; /* Los inputs ocupan el 85% */
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 80%; /* Los botones ocupan el 40% */
}

.btn-plazo {
  padding: 0.7rem 2rem;
  background-color: #002855;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%; /* Los botones ocupan el 100% de su contenedor */
}

.btn-plazo:hover {
  background-color: #002855;
}

input[type="text"] {
  padding: 0.7rem 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
