::ng-deep .btn-find .p-button{
    background-color: #fbdb04 !important;
    color: #0e2258;
    border-radius: 5px;
    border: none;
}

.footer-custom{
    color: #0e2258;
    background-color: #ffffff !important;
}

a{
    text-decoration: none;
    color: #0e2258 !important;
}

a:hover{
 color: #30629b !important;
 text-decoration: underline;
}
